UpinRobot/config.py
UpinRobot/*.session
UpinRobot/*.session-journal
UpinRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
UpinRobot/modules/helper_funcs/temp.txt
UpinRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
UpinRobot.session-journal
updates.txt
*.exe
